.services-section {
  padding: 30px 20px;
  /*background-color: #1a1a1a;*/
  color: #fff;
}

.services-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 60px;
  color: white;
}

.services-grid {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 0 50px;
}

.service-card {
  background-color: #242424;
  padding: 20px 30px 30px 30px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s ease;
  border: 1px solid #333;
  position: relative;
}

.service-number {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: #00AEEF;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 174, 239, 0.3);
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 174, 239, 0.1);
}

.service-icon {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
}

.service-icon img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  box-shadow: 0 0 800px 0 #f0f0f0;
}

.service-card h3 {
  color: #00AEEF;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
  min-height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card p {
  color: #f0f0f0;
  line-height: 1.75;
  margin-top: 1.5rem;
  text-align: left;
  font-size: 1.25rem;
  opacity: 0.9;
  min-height: 6rem;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .services-section {
    padding: 60px 20px;
  }
  
  .services-section h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .service-card {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
    padding: 0 10px;
    gap: 20px;
  }

  .services-section h2 {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }

  .service-card {
    text-align: left;
    padding: 20px 18px 25px;
  }

  .service-card h3 {
    min-height: auto;
    font-size: 1.3rem;
  }

  .service-card p {
    font-size: 1.05rem;
    min-height: auto;
  }
}

