.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: 60px; /* To account for fixed navbar */
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}
