@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

a {
  color: #1E90FF;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
